<nav class="navbar navbar-inverse navbar-static-top" style="position: fixed; width: 100%;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('portal.index') }}">PhotoWorld</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <form class="navbar-form navbar-left" action="{{ url_for('portal.search') }}">
                <div class="form-group">
                    <label>
                        <input type="text" class="form-control" placeholder="请输入关键字" name="keyword" value="{{ request.args.get('keyword', '') }}">
                    </label>
                    <label>
                        <select class="form-control" name="per_page" id="input-per-page">
                            <option value="5">每页5条</option>
                            <option value="20" selected>每页20条（默认）</option>
                            <option value="50">每页50条</option>
                            <option value="100">每页100条</option>
                        </select>
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
    </div>
</nav>