{% macro generate_article_content(article) %}
    {% set tags_color = ['primary', 'success', 'info', 'warning', 'danger'] %}
    <h3 class="blog-post-title">
        <a href="{{ url_for('portal.search', keyword=article.category.name) }}">
            <span class="label label-default">{{ article.category.name }}</span>
        </a>
        <a href="{{ article.url }}" style="font-size: 24px; line-height: 36px">{{ article.title }}</a>
    </h3>
    <p class="blog-post-meta">
        于 {{ article.date }} 由
        {% if article.author.name %}
            <a href="{{ url_for('portal.search', keyword=article.author.name) }}">{{ article.author.name }}</a>
        {% else %} 未知作者 {% endif %} 发布。
        {% for i, tag in enumerate(article.tags) %}
            <a href="{{ url_for('portal.search', keyword=tag.name) }}">
                <span class="label label-{{ tags_color[i % len(tags_color)] }}">{{ tag.name }}</span>
            </a>
        {% endfor %}
    </p>
    <p>{{ article.description | safe | striptags }}</p>
{% endmacro %}

{% macro generate_article(article) %}
    <div class="blog-post bs-example row">
        {% if article.type == 1 %}
            <div class="col-md-3 col-sm-5">
                {% for thumb in article.thumbs %}
                    <img class="thumbnail" src="{{ thumb.url }}" alt="{{ article.title }}" width="225" height="150">
                {% endfor %}
            </div>
            <div class="col-md-9" style="padding-left: 64px">
                {{ generate_article_content(article) }}
            </div>
        {% elif article.type == 2 %}
            {{ generate_article_content(article) }}
            {% for thumb in article.thumbs %}
                <div class="col-md-4">
                    <img class="thumbnail" src="{{ thumb.url }}" alt="{{ article.title }}" width="240" height="160">
                </div>
            {% endfor %}
        {% elif article.type == 3 %}
            {{ generate_article_content(article) }}
        {% endif %}
        <p class="help-block" style="position: absolute; bottom: 4px">{{ article.url }}</p>
    </div>
{% endmacro %}

{% macro generate_articles(articles) %}
    {% for article in articles %}
        {{ generate_article(article) }}
    {% endfor %}

    {% if not articles %}
        <p>emmmm，内容，去哪了？？？</p>
    {% endif %}
{% endmacro %}
