{% macro generate_article_content(article) %}
    <h2 class="blog-post-title">
        <a href="{{ article.url }}">{{ article.title }}</a>
    </h2>
    <p class="blog-post-meta">
        于 {{ article.date }} 由
        {% if article.author.name %}
            <a href="#">{{ article.author.name }}</a>
        {% else %} 未知作者 {% endif %} 发布。
    </p>
    <p>{{ article.description | safe | striptags }}</p>
{% endmacro %}

{% macro generate_article(article) %}
    <div class="blog-post col-md-12">
        {% if article.type == 1 %}
            <div class="col-md-3">
                {% for thumb in article.thumbs %}
                    <img class="thumbnail" src="{{ thumb.url }}" alt="{{ article.title }}" width="225" height="150">
                {% endfor %}
            </div>
            <div class="col-md-9" style="padding-left: 64px">
                {{ generate_article_content(article) }}
            </div>
        {% elif article.type == 2 %}
            {{ generate_article_content(article) }}
            {% for thumb in article.thumbs %}
                <div class="col-md-4">
                    <img class="thumbnail" src="{{ thumb.url }}" alt="{{ article.title }}" width="240" height="160">
                </div>
            {% endfor %}
        {% elif article.type == 3 %}
            {{ generate_article_content(article) }}
        {% endif %}
    </div>
{% endmacro %}

{% macro generate_articles(articles) %}
    {% for article in articles %}
        {{ generate_article(article) }}
    {% endfor %}

    {% if not articles %}
        <p>emmmm，内容，去哪了？？？</p>
    {% endif %}
{% endmacro %}
